
body{
	/*background-color: yellow;*/
	font-size: 16px;
	margin: .5em;
}

*{
	padding: 0;
	margin-bottom: 0;
}

#wrapper{
	margin: 0 auto;
	width: 100%;
}

header{
	text-align: center;
}

nav{
	background-color: yellow;
	padding: 1em;
	text-align: center;
	display: block;
	margin: 2em 1em 1em 1em;
}

.restauranttile{
	display: inline-block;
	margin:auto;
	width: 30%;
	border:.1em solid red;
	padding: 1%;
}