
body{
	font-size: 16px;
	margin: .5em;
}

*{
	padding: 0;
	margin-bottom: 0;
}

#wrapper{
	margin: 0 auto;
	width: 100%;
}

header{
	text-align: center;
}

nav{
	padding: 1em;
	text-align: center;
	display: block;
	margin: 2em 1em 1em 1em;
}

nav:hover{
	color: black;
}

.restauranttiles article{
	/*display: inline-block;*/
	/*margin:auto;*/
	/*width: 30%;*/
	/*border:.1em solid red;*/
	padding: 1%;
}

.restaurant{
	border: .8em solid transparent;
	width: 90%;
	height: 90%;
	margin-bottom: 25px;
}

}
/*Why it doesn't work*/
.restaurant:hover{
	border-color: ##f1f1f1;
}

.carousel-inner img {
    /*-webkit-filter: grayscale(90%);*/
    /*filter: grayscale(90%);*/ /* make all photos black and white */ 
    width: 80%;
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

#googleMap{
	margin-top: 2em;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }